:root {
    --bg-black:#080800;
    --bg-purple:#171392;

    --green: #39ff88;
  --pink: #ff6ec7;
  --purple: #8b5cf6;
  --blue: #5dd6ff;
  --yellow: #ffe66d;

  --text: #f5f5f5;
  --muted: #8a8a8a;
}
